DJANGO_SECRET_KEY=cambia-esta-clave-por-una-clave-larga-y-aleatoria
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DEFAULT_PRICE_PER_NIGHT=100.00
# DATABASE_URL=postgresql://usuario:clave@servidor:5432/el_vivero
